/* form */
#sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: beige;
  padding: 20px 40px;
  width: 450px;
  margin: auto;
  border-radius: 12px;
}

#sign-up-form label {
  color: darkblue;
  padding-bottom: 8px;
}
#sign-up-form input::placeholder {
  color: grey;
  text-align: center;
}
#sign-up-form input {
  background: white;
  border: none;
  height: 24px;
  width: 100%;
  margin: 0 0 12px;
}

#sign-up-form button {
  background: none;
  border: solid 2px darkblue;
  border-radius: 12%;
  padding: 12px;
  margin: auto;
  color: darkblue;
}

#sign-up-form button:hover {
  background: lightblue;
}

#sign-up-form button:active {
  background: grey;
  box-shadow: 5px 5px rgba(2, 2, 2, 0.2);
}

#sign-up-form h1 {
  align-self: center;
}

/* footer */
footer {
  background-color: beige;
  padding-bottom: 20px;
}

#footer {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding: 20px 40px 0;
}

#footer input {
  border: none;
  margin-right: 12px;
  padding: 5px;
}

#footer button {
  background: none;
  border: 2px solid darkblue;
  border-radius: 12px;
  padding: 5px;
}

#footer button:hover {
  background: lightblue;
}

#footer button:active {
  background: grey;
}

#copyright {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding-left: 10px;
}

li a {
  text-decoration: none;
  color: darkblue;
}
